@charset "UTF8";

body {
    background-color: rgb(98, 102, 218);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
}

div {
    text-align: center;
    padding: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}